.header,
.footer {
  background-image: url("https://images.unsplash.com/photo-1560415755-bd80d06eda60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1291&q=80");
  background-size: cover;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.cover {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
}
